<!doctype html>
<html>
  <head>
    <title><%- title %></title>
  </head>
  <body>
    <div>
      <div>
        <h1><%- title  %></h1>
        <p>Welcome to <%- title %></p>
        <p>go to <a href="/chuchu">chuchu</a></p>
        <p>go <a href="/">home</a></p>
      </div>
    </div>
  </body>
</html>
